{% extends 'base.html' %}

{% block content %}

  <h1>Add a New Song</h1>

  <form method="POST" action="{{ url_for('add_song') }}" class="my-4">
    {{ form.hidden_tag() }}

    <div class="mb-3">
      {{ form.title.label(class="form-label") }}
      {{ form.title(class="form-control") }}
    </div>

    <div class="mb-3">
      {{ form.artist.label(class="form-label") }}
      {{ form.artist(class="form-control") }}
    </div>

    <button type="submit" class="btn btn-primary">Add Song</button>
  </form>

{% endblock %}